<div class="row g-4">
    <!-- SP 1 -->
    <div class="col-md-3">
        <div class="card border-0 shadow-sm"
             style="border-radius: 30px; overflow:hidden;width: 85%; margin: auto;">
            <img src="img/3.jpg"
                 class="card-img-top" alt="Hoa hồng trắng">
            <div class="card-body text-center">
                <h5 class="card-title">Hoa hồng trắng</h5>
                <p class="text-danger fw-bold">1.560.000₫</p>
                <a href="#"
                   class="btn fw-bold px-4 py-2"
                   style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                    Thêm vào giỏ hàng
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-0 shadow-sm"
             style="border-radius: 30px; overflow: hidden;width: 85%; margin: auto;">
            <img src="img/4.jpg"
                 class="card-img-top" alt="Giỏ hoa">
            <div class="card-body text-center">
                <h5 class="card-title">Giỏ hoa</h5>
                <p class="text-danger fw-bold">1.000.000₫</p>
                <a href="#"
                   class="btn fw-bold px-4 py-2"
                   style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                    Thêm vào giỏ hàng
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0 shadow-sm"
             style="border-radius: 30px; overflow: hidden;width: 85%; margin: auto;">
            <img src="img/5.jpg"
                 class="card-img-top" alt="Giỏ hoa hồng">
            <div class="card-body text-center">
                <h5 class="card-title">Giỏ hoa hồng</h5>
                <p class="text-danger fw-bold">1.000.000₫</p>
                <a href="#"
                   class="btn fw-bold px-4 py-2"
                   style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                    Thêm vào giỏ hàng
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0 shadow-sm"
             style="border-radius: 30px; overflow: hidden;width: 85%; margin: auto;">
            <img src="img/6.jpg"
                 class="card-img-top" alt="Xương rồng">
            <div class="card-body text-center">
                <h5 class="card-title">Xương rồng</h5>
                <p class="text-danger fw-bold">450.000₫</p>
                <a href="#"
                   class="btn fw-bold px-4 py-2"
                   style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                    Thêm vào giỏ hàng
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0 shadow-sm"
             style="border-radius: 30px; overflow: hidden;width: 85%; margin: auto;">
            <img src="img/12.jpg"
                 class="card-img-top" alt="Hoa tulip">
            <div class="card-body text-center">
                <h5 class="card-title">Hoa tulip</h5>
                <p class="text-danger fw-bold">1.350.000₫</p>
                <a href="#"
                   class="btn fw-bold px-4 py-2"
                   style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                    Thêm vào giỏ hàng
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0 shadow-sm"
             style="border-radius: 30px; overflow: hidden;width: 85%; margin: auto;">
            <img src="img/13.jpg"
                 class="card-img-top" alt="Hoa hướng dương">
            <div class="card-body text-center">
                <h5 class="card-title">Hoa hướng dương</h5>
                <p class="text-danger fw-bold">1.440.000₫</p>
                <a href="#"
                   class="btn fw-bold px-4 py-2"
                   style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                    Thêm vào giỏ hàng
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0 shadow-sm"
             style="border-radius: 30px; overflow: hidden;width: 85%; margin: auto;">
            <img src="img/14.jpg"
                 class="card-img-top" alt="Hoa s">
            <div class="card-body text-center">
                <h5 class="card-title">Hoa </h5>
                <p class="text-danger fw-bold">1.500.000₫</p>
                <a href="#"
                   class="btn fw-bold px-4 py-2"
                   style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                    Thêm vào giỏ hàng
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0 shadow-sm"
             style="border-radius: 30px; overflow: hidden;width: 85%; margin: auto;">
            <img src="img/15.jpg"
                 class="card-img-top" alt="Hoa ">
            <div class="card-body text-center">
                <h5 class="card-title">Hoa </h5>
                <p class="text-danger fw-bold">1.500.000₫</p>
                <a href="#"
                   class="btn fw-bold px-4 py-2"
                   style="background-color:#ffb6c1; color:white; border:none; border-radius:8px; transition:0.3s;">
                    Thêm vào giỏ hàng
                </a>
            </div>
        </div>
    </div>
</div>